# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FPT Polytechnic\SOF3041-Kiem thu nang cao\ThiThu01_KiemThu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
